## 1. Download the Table and Clean it

Impor libraries we need

In [1]:
import pandas as pd
import numpy as np

The URL where the data will be obtained

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

take a table and make it a dataframe

In [3]:
table = pd.read_html(url)

In [4]:
data = table[0]
data.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

replace 'Non assigned' with NaN and delete these rows and then reset the index

In [5]:
data = data.replace('Not assigned', np.nan)

In [6]:
data = data.dropna()

In [7]:
data = data.reset_index(drop=True)

In [8]:
data.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

We assume that the postal code values are unique.

We group the rows with Neighborhood, then concatenate the strings in the list.

Again, reset the index, then merge the strings

In [9]:
data = data.groupby(['Postal Code', 'Borough'], sort = False)['Neighbourhood'].apply(list)

data.head()

Postal Code  Borough
M3A          North York                                            [Parkwoods]
M4A          North York                                     [Victoria Village]
M5A          Downtown Toronto                      [Regent Park, Harbourfront]
M6A          North York                     [Lawrence Manor, Lawrence Heights]
M7A          Downtown Toronto    [Queen's Park, Ontario Provincial Government]
Name: Neighbourhood, dtype: object

In [10]:
data = data.reset_index()

data.head()

  Postal Code           Borough                                  Neighbourhood
0         M3A        North York                                    [Parkwoods]
1         M4A        North York                             [Victoria Village]
2         M5A  Downtown Toronto                    [Regent Park, Harbourfront]
3         M6A        North York             [Lawrence Manor, Lawrence Heights]
4         M7A  Downtown Toronto  [Queen's Park, Ontario Provincial Government]

In [11]:
data['Neighbourhood'] = data['Neighbourhood'].str.join(',')

data.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

let's look at the dimensions of the dataframe

In [12]:
data.shape

(103, 3)